#loading {
  border: 16px solid rgb(50,50,50); /* Light grey */
  border-top: 16px solid #4c57ee; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(180, 180, 180, 1);

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

* {
  margin: 0px;
  text-align: center;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

#cvsFireworks {
  z-index: 2;
}

#cvsMsg {
  z-index: 1;
}

#buttonContainer {
  background-color: rgba(0,0,0,0) !important;
  position: absolute;
  bottom: 24px;
  z-index: 2;
  width:100%;
  text-align:center;
}

#divButtons {
  display: inline-block;
  background-color: rgba(0,0,0,0) !important;
}

.btn {
  margin-top: 8px;
}
