body {
    background-color: rgb(245, 245, 245);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnStartContainer {
    width: 100%;
}

form {
    width: 100%;
}

.jumbotron {
    text-align: center;
    margin-bottom: 64px;
}

.lead {
    font-size: 1.9em;
}

#instructionsOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 2px;
    font-size: 15px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.dropdown {
    width: 100%;
}

.dropdown>button {
    margin-top: 4px;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu>li {
    padding: 12px;
    font-size: 1.2em;
}

.larger {
    font-size: 1.4em;
}

#main {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

#dropdownVariation {
    margin-top: 32px;
    margin-bottom: 16px;
}

.btnBottom {
    position: absolute;
    bottom: 32px;
    left: 15%;
    width: 70%;
}

#loading {
    border: 16px solid rgb(50, 50, 50);
    border-top: 16px solid #4c57ee;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loadingContainer {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(180, 180, 180, 1);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}