* {
    margin: 0px;
    text-align: center;
}
.slidecontainer {
    margin-left: 24px;
    margin-bottom: 8px;
    width: 30%;
  }
  
  
  .slider {
    appearance: none;
    background: #d3d3d3;
    border-radius: 4px;
    height: 25px;
    opacity: 0.7;
    outline: none;
    transition: opacity .2s;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    width: 100%;
  }
  
  .slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
  
  .slider::-moz-range-thumb {
    background: #4CAF50;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }

  .btn {
    margin-top: 8px;
  }